@font-face {
  font-family: 'Frontage-Outline';
  src: url(../vendors/fonts/Frontage-Outline.otf); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #f9f7f6;
  background-color: #f9f7f6;
  font-weight: 300;
  line-height: 1.6; }

.container {
  /* display: grid;
    grid-template-rows: 0rem 100vh max-content 50vh 30vh 20vh;
    position: absolute;
    

    //& > * {  // use for development for initial layout to be removed
    //    padding: 40px;
    //    font-size: 3rem; */ }

.about {
  background-color: #666666;
  grid-column: 1 / -1; }

.contact {
  background-color: #6D5D4B;
  grid-column: 1 / -1; }

header {
  background-image: url(../img/lge/landscape/vanpac02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 85vh;
  z-index: 1; }

nav {
  position: absolute;
  width: 100%;
  top: 0;
  color: rgba(117, 117, 117, 0.65);
  background-color: transparent;
  padding: 2rem;
  z-index: 99;
  display: flex; }
  nav .nav__logo {
    font-size: 3rem;
    margin: 0 10%;
    width: 30%; }
  nav .nav__list {
    display: flex;
    margin: 1.1% 10%; }
  nav .nav__item {
    list-style-type: none;
    align-content: center;
    backface-visibility: hidden;
    transition: all .3s; }
  nav .nav__link:link, nav .nav__link:visited {
    display: inline-block;
    margin: 0rem 5rem;
    color: rgba(117, 117, 117, 0.5);
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none; }
  nav .nav__link:hover, nav .nav__link:active {
    color: #666666;
    transform: scale(115%); }

/* &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, 
            transparent 0%, 
            transparent 50%, 
            $color-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        } */
.portfolios {
  background-color: #f9f7f6;
  margin-top: 5rem; }

.portfolio {
  background-color: #f9f7f6;
  padding: 0rem 0 3rem 4%; }
  .portfolio__carousel {
    display: flex;
    height: 100vh;
    overflow-x: scroll; }
  .portfolio__overlay {
    position: absolute;
    left: 4%;
    top: 3rem;
    height: 85vh;
    width: 96vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15%; }
    .portfolio__overlay--title {
      font-size: 11rem;
      font-family: "Frontage-Outline";
      opacity: 75%; }
    .portfolio__overlay--titleSM {
      font-size: 8.5rem;
      font-family: "Frontage-Outline";
      opacity: 75%; }
    .portfolio__overlay--cta {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 35%; }
  .portfolio__header {
    display: flex;
    margin-left: 3%; }
    .portfolio__header--title {
      font-size: 6rem;
      font-family: "Frontage-Outline";
      color: black;
      opacity: 35%; }
    .portfolio__header--titleSM {
      font-size: 5rem;
      font-family: "Frontage-Outline";
      color: black;
      opacity: 35%; }
    .portfolio__header--cta {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      color: black;
      opacity: 10%;
      margin: 1.8rem 0 0 6rem; }
  .portfolio__img {
    height: 85vh;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    margin-right: 3rem; }
  .portfolio__video {
    height: 85vh;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    margin-right: 3rem; }

/* 
    &__portraits {

        &--scroll {
            display: grid;
            grid-template-columns: repeat(6, max-content);
            justify-content: space-between;
            grid-gap: 2rem;        
        }

        &--overlay {
            position:absolute;
            left: 4%;
            top: 3rem;
            height: 90vh;
            width: 96vw;
            background: linear-gradient(
                to right,
                rgba(black, 0.6),
                rgba(black, 0.6));
            z-index: 5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15%;
            
        }

        &--title {
            font-size: 11rem;
            font-family: "Frontage-Outline";
            opacity: 75%; 
            //position: absolute;
            //left: 2%;
            //top: 10%; 
                               
        }

        &--cta {
            //position: absolute;
            font-size: 4rem; 
            font-weight: 700;
            text-transform: uppercase;
            opacity: 35%;
            //left: 20%;
            //top: 60%;
        }

        &--img {
            height: 90vh;
        }

    }

    &__portraits-artist {

        &--scroll {
            display: grid;
            grid-template-columns: repeat(6, max-content);
            justify-content: space-between;
            grid-gap: 2rem;

            /* as seen on medium to try and implement scroll
            display: flex;
            flex-wrap: nowrap;
            background-color: white;
            height: 90vh;//height: 600px; (or whatever you want it to be)
            width: 100%;//width: 100%; (I have this inside of a container that takes up 90% of the screen)
            overflow-x: scroll; //(or: auto)      
        }

        &--overlay {
            position:absolute;
            left: 4%;
            top: 3rem;
            height: 90vh;
            width: 96vw;
            background: linear-gradient(
                to right,
                rgba(black, 0.6),
                rgba(black, 0.6));
            z-index: 5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15%;            
        }

        &--title {
            font-size: 9rem;
            font-family: "Frontage-Outline";
            opacity: 75%; 
            //position: absolute;
            //left: 2%;
            //top: 10%; 
            opacity: 75%;                    
        }

        &--cta {
            //position: absolute;
            font-size: 3.5rem; 
            font-weight: 700;
            text-transform: uppercase;
            opacity: 35%;
            //left: 20%;
            //top: 60%;
        }

        &--img {
            height: 90vh;
        }
    }

    &__architecture {
        
        &--scroll {
            display: grid;
            grid-template-columns: repeat(6, max-content);
            justify-content: space-between;
            grid-gap: 2rem;
        }

        &--overlay {
            position:absolute;
            left: 4%;
            top: 3rem;
            height: 90vh;
            width: 96vw;
            background: linear-gradient(
                to right,
                rgba(black, 0.6),
                rgba(black, 0.6));
            z-index: 5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15%;            
        }

        &--title {
            font-size: 11rem;
            font-family: "Frontage-Outline";
            opacity: 75%;                    
        }

        &--cta {
            font-size: 3rem; 
            font-weight: 700;
            text-transform: uppercase;
            opacity: 35%;
        }
        
        &--img {
            height: 90vh;
        }
    }

    &__stills {
        
        &--scroll {
            display: grid;
            grid-template-columns: repeat(6, max-content);
            justify-content: space-between;
            grid-gap: 2rem;
        }

        &--overlay {
            position:absolute;
            left: 4%;
            top: 3rem;
            height: 90vh;
            width: 96vw;
            background: linear-gradient(
                to right,
                rgba(black, 0.6),
                rgba(black, 0.6));
            z-index: 5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15%;            
        }

        &--title {
            font-size: 11rem;
            font-family: "Frontage-Outline";
            opacity: 75%;                    
        }

        &--cta {
            font-size: 3rem; 
            font-weight: 700;
            text-transform: uppercase;
            opacity: 35%;
        }
        
        &--img {
            height: 90vh;
        }
    }

    &__landscape {
        
        &--scroll {
            display: grid;
            grid-template-columns: repeat(6, max-content);
            justify-content: space-between;
            grid-gap: 2rem;
        }

        &--overlay {
            position:absolute;
            left: 4%;
            top: 3rem;
            height: 90vh;
            width: 96vw;
            background: linear-gradient(
                to right,
                rgba(black, 0.6),
                rgba(black, 0.6));
            z-index: 5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15%;            
        }

        &--title {
            font-size: 11rem;
            font-family: "Frontage-Outline";
            opacity: 75%;                    
        }

        &--cta {
            font-size: 3rem; 
            font-weight: 700;
            text-transform: uppercase;
            opacity: 35%;
        }
        
        &--img {
            height: 90vh;
        }
    }

    &__motion {
        
        &--scroll {
            display: grid;
            grid-template-columns: repeat(6, max-content);
            justify-content: space-between;
            grid-gap: 2rem;
        }

        &--overlay {
            position:absolute;
            left: 4%;
            top: 3rem;
            height: 90vh;
            width: 96vw;
            background: linear-gradient(
                to right,
                rgba(black, 0.6),
                rgba(black, 0.6));
            z-index: 5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15%;            
        }

        &--title {
            font-size: 11rem;
            font-family: "Frontage-Outline";
            opacity: 75%;                    
        }

        &--cta {
            font-size: 3rem; 
            font-weight: 700;
            text-transform: uppercase;
            opacity: 35%;
        }
        
        &--video {
            height: 90vh;
        }
    }
 */
.footer {
  background-color: #c69963;
  grid-column: 1 / -1; }
