.portfolios {
    background-color: $color-grey-light-1;
    margin-top: 7rem;
}

.portfolio {
    background-color: $color-grey-light-1;
    padding: 0rem 1% 0rem 4%;
    height: 97vh;

        &__carousel {
        display: flex;
        align-items: center;

        height: 85%;//height: 600px; (or whatever you want    ito be)
        //width: 100%;//width: 100%; (I have this inside of   container that takes up 90% of the screen)
        overflow-x: scroll; //(or: auto)
        } 
    
        &__overlay {
        position: absolute;
        left: 4%;
        top: 3rem;
        height: 85vh;
        width: 96vw;
        background: linear-gradient(
            to right,
            rgba(black, 0.6),
            rgba(black, 0.6));
        z-index: 99;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15%;

            &--title {
                font-size: 11rem;
                font-family: "Frontage-Outline";
                opacity: 75%;
            }

            &--titleSM {
                font-size: 8.5rem;
                font-family: "Frontage-Outline";
                opacity: 75%;
            }


            &--cta {
                font-size: 3rem; 
                font-weight: 700;
                text-transform: uppercase;
                opacity: 35%;
            }
        }
    
        &__header {
            display: flex; 
            margin-left: 3%;
            height: 9rem; 
        
            &--title {
                font-size: 6rem;
                font-family: "Frontage-Outline";
                color: black;
                opacity: 35%;
                position: relative;
                padding-top: 1rem;
            }
        
            &--titleSM {
                font-size: 5rem;
                font-family: "Frontage-Outline";
                color: black;
                opacity: 35%;
                padding-top: 1rem;                
            }
            
            &--cta {
                font-size: 3rem; 
                font-weight: 700;
                text-transform: uppercase;
                color: black;
                opacity: 10%;
                padding: 2.8rem 0 0 6rem;               
            }
        }
    
        &__img {
            height: 75vh;
            flex-wrap: nowrap;
            flex: 0 0 auto;
            margin-right: 3rem;
        }
        &__video {
            height: 75vh;
            flex-wrap: nowrap;
            flex: 0 0 auto;
            margin-right: 3rem;
        }

    figcaption {
        padding-left: 1rem;
        color: black;
        opacity: 45%;
        font-weight: 500;
        font-size: 1.5rem;
    }
}